#perfil_Profesional
{
  color: black;
  font-size: 50px;
  text-align: center;

}


#perfil_Descripcion
{
  text-align: left;
}


table 
{
  width: 50%;
  margin: 9% 0 0 30%; /*top, right , bottom, left*/
}